<h1>Editing Book</h1>

<%= form_for(@book, url: book_path(@book.id)) do |f| %>
  <%= render('form', book: @book, f: f) %>
<% end %>

<%= link_to 'Show', @book, class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>